<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://entrepreneurship.babson.edu/wp-content/uploads/2020/10/Movie-1200-630.jpg);">
  <div class="container">
    <h1><strong><%= @list.name %></strong></h1>
    <%= link_to "Add movie", new_list_bookmark_path(@list), class: "btn btn-flat m-2" %>
  </div>
</div>
<% @bookmarks.each do |bookmark| %>
<div class="card-product">
  <img src="https://img.freepik.com/premium-vector/realistic-cinema-poster-popcorn-bucket-clapperboard-movie-tape-reel-flying-popcorn-motion_208581-1714.jpg?w=2000" />
  <div class="card-product-infos">
    <h2><%= bookmark.movie.title %></h2>
    <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
<% end %>

<%= link_to "Back to lists", lists_path, class: "btn btn-flat m-2" %>
